@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
  :root {
    --radius: 0.5rem;
  }
}
body {
  cursor: wait;
}
/* Add this to your global styles (e.g., globals.css) */
.underline-icon:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px; /* Adjust distance from the icon */
  height: 2px; /* Adjust thickness */
  background-color: black; /* Adjust color */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initially hidden */
  transition: transform 0.3s ease;
}

.underline-icon:focus-visible:after {
  transform: scaleX(1); /* Show underline on focus */
}

:root {
  --vh: 1vh;
  width: screen;
}

.scroll-snap-container {
  height: 100vh;
  /* width: 100vw; */
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

.scroll-snap-section {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  @media (max-width: 425px) {
    height: 100%;

  }
  /* padding: "10px"; */
}

@media (max-width: 425px) {
  .scroll-snap-container {
    scroll-snap-type: none;
  }
}
/* Base (mobile) */
.text-xl {
  font-size: 2em;
  line-height: normal;
}
.text-lg {
  font-size: 1em;
}

/* Tablet / small desktop */
@media (min-width: 768px) {
  .text-xl {
    font-size: 3em;
    line-height: normal;

  }
  .text-base {
    font-size: 1em;
    line-height: normal;

  }
  .text-button {
    font-size: 1em;
    line-height: normal;

  }
}

/* Large desktop */
@media (min-width: 1440px) {
  .text-xl {
    font-size: 5em;
    line-height: normal;

  }
  .text-base {
    font-size: 1.5em;
    line-height: normal;

  }
  .text-button {
    font-size: 1.5em;
    line-height: normal;

  }
}

/* Very large screens / 4K */
@media (min-width: 1920px) {
  .text-xl {
    font-size: 6em;
  }
  .text-base {
    font-size: 2em;
  }
  .text-button {
    font-size: 2em;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}