@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
  :root {
    --radius: 0.5rem;
  }
}
body {
  cursor: wait;
}
/* Add this to your global styles (e.g., globals.css) */
.underline-icon:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px; /* Adjust distance from the icon */
  height: 2px; /* Adjust thickness */
  background-color: black; /* Adjust color */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initially hidden */
  transition: transform 0.3s ease;
}

.underline-icon:focus-visible:after {
  transform: scaleX(1); /* Show underline on focus */
}

:root {
  --vh: 1vh;
}

.scroll-snap-container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-snap-sections {
  height: 100%;
}

.scroll-snap-section {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media (max-width: 768px) {
  .scroll-snap-container {
    scroll-snap-type: y proximity;
  }
}
